* {
    /*Se quitan los estilos predefinidos */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url("img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 100vh;


    margin: 10px 0px 10px 0px;

    font-size: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

html {

    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 50px;
    padding-top: 10px;

}

.sec-description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile_descripcion {

    width: 65vw;

    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;

}

.profile_descripcion strong {

    color: rgb(212, 131, 24);

}

h3 {
    color: rgb(212, 131, 24);

}

#img_profile {

    border-radius: 25%;
    width: 250px;
    height: 250px;
    transition-duration: 1000ms
}

#img_profile:hover {

    border-radius: 50%;
    transition-duration: 1000ms
}

nav {
    width: auto;


    border-radius: 25px;
    color: white;

    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-evenly;



}

.menu {
    width: 80vw;


    display: flex;
    justify-content: space-evenly;


}

.menu a {
    display: inline-block;
    width: 150px;

    border-radius: 10px;
    font-size: 1.25rem;
    text-align: center;
    transition-duration: 1000ms;
    border: none;
    color: rgb(255, 255, 255);

    padding: 7px 0;
    text-decoration: none;
    background-color: rgba(122, 151, 206, 0.63);
}

.btn:hover {

    transition-duration: 1000ms;
    color: rgb(212, 131, 24);
    font-size: 1.5rem;
    width: 200px;
}

#btn_inicio {
    width: 50px;
    display: inline-block;
    background-color: white;
}

main {

    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


#sec_info {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 25px;
    width: 100%;
    margin-bottom: 25px;
}

#sec_info img {
    width: 150px;

}

.informacion_contacto {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.subtitle {
    color: white;
    text-align: center;
    margin-top: 1px;
    margin: 5px;
}

.tarjeta_contacto {

    width: 250px;
    height: 250px;

    background-color: rgba(122, 151, 206, 0.63);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 1rem;
    transition-duration: 1000ms;


}

.tarjeta_contacto a {

    text-decoration: none;
    color: white;


}

.tarjeta_contacto:hover {
    width: 225px;
    height: 225px;
    transition-duration: 1000ms;
}

#sec_edu {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 25px;

    width: 100%;

    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.informacion_edu {

    display: flex;
    justify-content: space-evenly;

}

.item_edu {

    width: 350px;
    height: 350px;

    min-width: 300px;
    min-height: 300px;

    background-color: rgba(122, 151, 206, 0.336);
    border-radius: 25px;
    color: white;
    text-align: center;

    font-size: medium;

}

.item_edu img {

    width: 180px;
    border-radius: 100px;
    margin-top: 25px;
}

#sec_skills {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 25px;

    width: 100%;

    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.informacion_skills {

    display: flex;
    justify-content: space-evenly;


}

.item_skills {

    width: 220px;
    height: 220px;

    min-width: 200px;

    background-color: rgba(122, 151, 206, 0.336);
    border-radius: 25px;
    color: white;
    text-align: center;

    font-size: small;


    margin-bottom: 5px;

}

.item_skills img {

    width: 80px;
    border-radius: 15px;
    margin-top: 25px;

}

#sec_exp {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 25px;

    width: 100%;
    height: auto;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.informacion_exp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.item_exp {

    background-color: rgba(122, 151, 206, 0.336);

    width: 60%;


    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 1rem;
    border-radius: 25px;
    color: white;

}

.contenido_exp {
    width: auto;
    max-width: 550PX;
}

footer {
    width: 100%;

    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgba(46, 88, 167, 0.548);
    border-radius: 25px;

}

@media screen and (max-width:1100px) {


    .sec-description {
        flex-direction: column;
        justify-content: space-evenly;

    }

    #img_profile {


        width: 150px;
        height: 150px;

    }

    .tarjeta_contacto {

        width: 150px;
        height: 150px;
        font-size: .6rem;

    }

    .tarjeta_contacto:hover {
        width: 200px;
        height: 200px;

    }

    #sec_info img {
        width: 60px;

    }

    .informacion_edu {

        flex-direction: column;
        align-items: center;
    }

    .informacion_skills {

        flex-direction: column;
        align-items: center;



    }

    .item_exp {

        font-size: 1rem;
        width: 90vw;


    }

    .menu {

        width: 90vw;
    }


}

@media screen and (max-width:760px) {

    .profile_descripcion {


        font-size: 1.2rem;


    }

    .menu {

        width: 90vw;
    }

    .menu a {
        display: inline-block;
        width: 100px;


        font-size: 1rem;


    }

    .btn:hover {

        transition-duration: 1000ms;
        color: rgb(212, 131, 24);
        font-size: 1.5rem;
        width: 200px;
    }

    .item_edu {

        width: 250px;
        height: 250px;

        margin-bottom: 5px;
        font-size: .8rem;

    }

    .item_edu img {

        width: 180px;
        border-radius: 100px;
        margin-top: 25px;
    }


}

@media screen and (max-width:500px) {


    .sec-description {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #img_profile {


        width: 150px;
        height: 150px;

    }

    .tarjeta_contacto {

        width: 100px;
        height: 100px;
        font-size: .3rem;

    }

    #sec_info img {
        width: 60px;

    }

    .informacion_edu {

        flex-direction: column;
        align-items: center;
    }

    .informacion_skills {

        flex-direction: column;
        align-items: center;
    }

    .item_exp {

        font-size: .8rem;
    }

    footer {

        font-size: .8rem;

    }
}